FeedbackSystemClient/Connected Services/FeedbackServiceReference/FeedbackService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FeedbackSystemService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FeedbackSystemService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Feedback">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductFeedback" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductPrice" type="xs:int" />
      <xs:element minOccurs="0" name="ProductRatings" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Feedback" nillable="true" type="tns:Feedback" />
</xs:schema>