FeedbackSystemClient/Connected Services/FeedbackServiceReference/FeedbackService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/FeedbackService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FeedbackSystemService" />
  <xs:element name="AddFeedback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FeedbackSystemService" minOccurs="0" name="feedback" nillable="true" type="q1:Feedback" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFeedbackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFeedbackResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFeedback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FeedbackSystemService" minOccurs="0" name="feedback" nillable="true" type="q2:Feedback" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFeedbackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFeedbackResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFeedback">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFeedbackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteFeedbackResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedbacks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedbacksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFeedbacksResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedback">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedbackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FeedbackSystemService" minOccurs="0" name="GetFeedbackResult" nillable="true" type="q3:Feedback" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>