FeedbackSystemClient/Connected Services/FeedbackServiceReference/FeedbackService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FeedbackService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/FeedbackService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/FeedbackService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/FeedbackService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FeedbackSystemService" />
      <xsd:import schemaLocation="http://localhost:8000/FeedbackService?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFeedbackService_AddFeedback_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFeedback" />
  </wsdl:message>
  <wsdl:message name="IFeedbackService_AddFeedback_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFeedbackResponse" />
  </wsdl:message>
  <wsdl:message name="IFeedbackService_UpdateFeedback_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFeedback" />
  </wsdl:message>
  <wsdl:message name="IFeedbackService_UpdateFeedback_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFeedbackResponse" />
  </wsdl:message>
  <wsdl:message name="IFeedbackService_DeleteFeedback_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFeedback" />
  </wsdl:message>
  <wsdl:message name="IFeedbackService_DeleteFeedback_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFeedbackResponse" />
  </wsdl:message>
  <wsdl:message name="IFeedbackService_GetFeedbacks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFeedbacks" />
  </wsdl:message>
  <wsdl:message name="IFeedbackService_GetFeedbacks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFeedbacksResponse" />
  </wsdl:message>
  <wsdl:message name="IFeedbackService_GetFeedback_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFeedback" />
  </wsdl:message>
  <wsdl:message name="IFeedbackService_GetFeedback_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFeedbackResponse" />
  </wsdl:message>
  <wsdl:portType name="IFeedbackService">
    <wsdl:operation name="AddFeedback">
      <wsdl:input wsaw:Action="http://tempuri.org/IFeedbackService/AddFeedback" message="tns:IFeedbackService_AddFeedback_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFeedbackService/AddFeedbackResponse" message="tns:IFeedbackService_AddFeedback_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFeedback">
      <wsdl:input wsaw:Action="http://tempuri.org/IFeedbackService/UpdateFeedback" message="tns:IFeedbackService_UpdateFeedback_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFeedbackService/UpdateFeedbackResponse" message="tns:IFeedbackService_UpdateFeedback_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFeedback">
      <wsdl:input wsaw:Action="http://tempuri.org/IFeedbackService/DeleteFeedback" message="tns:IFeedbackService_DeleteFeedback_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFeedbackService/DeleteFeedbackResponse" message="tns:IFeedbackService_DeleteFeedback_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFeedbacks">
      <wsdl:input wsaw:Action="http://tempuri.org/IFeedbackService/GetFeedbacks" message="tns:IFeedbackService_GetFeedbacks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFeedbackService/GetFeedbacksResponse" message="tns:IFeedbackService_GetFeedbacks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFeedback">
      <wsdl:input wsaw:Action="http://tempuri.org/IFeedbackService/GetFeedback" message="tns:IFeedbackService_GetFeedback_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFeedbackService/GetFeedbackResponse" message="tns:IFeedbackService_GetFeedback_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFeedbackService" type="tns:IFeedbackService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddFeedback">
      <soap:operation soapAction="http://tempuri.org/IFeedbackService/AddFeedback" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFeedback">
      <soap:operation soapAction="http://tempuri.org/IFeedbackService/UpdateFeedback" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFeedback">
      <soap:operation soapAction="http://tempuri.org/IFeedbackService/DeleteFeedback" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeedbacks">
      <soap:operation soapAction="http://tempuri.org/IFeedbackService/GetFeedbacks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFeedback">
      <soap:operation soapAction="http://tempuri.org/IFeedbackService/GetFeedback" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FeedbackService">
    <wsdl:port name="BasicHttpBinding_IFeedbackService" binding="tns:BasicHttpBinding_IFeedbackService">
      <soap:address location="http://localhost:8000/FeedbackService/FeedbackService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>